/* BOOTSTRAP OVERRIDES */
.btn-success {    
    background-color: $orr-green;
    border-color: $orr-green;
    color: $std-white;
  }
  .btn-success:hover {
    color: $dk-main-text;
  }  
  .btn-success.disabled, .btn-success:disabled {
    background-color: $orr-green;
    border-color: $orr-green;
    color: $std-white;
  }  
  .btn-outline-success {
    border-color: $orr-green;
    color: $orr-green;    
  }  
  .btn-outline-success:hover {    
    background-color: $orr-green;
    border-color: $orr-green;
    color: $dk-main-text;
  }    
  .btn-outline-success.disabled, .btn-outline-success:disabled {
    color: $orr-green;
  }  
  .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
  .show > .btn-outline-success.dropdown-toggle {    
    background-color: $orr-green;
    border-color: $orr-green;
    color: $std-white;
  }  
  .bg-success {
    background-color: $orr-green;
  }
