/* CARDS */
.card-back {
    background-color: #454E5F;
    padding: 10px 10px 5px 10px;
    .card {
        border: none;
        .card-body {
            .row-card {
                .red-back-temp {
                    background-color: red;
                }
                .btn-orr-row-butt {
                    color: #59B4F9;
                    background-color: #454E5F;
                    border-color: #454E5F;
                    &:hover {
                        background-color: #39404F;
                        border-color: #39404F;
                        outline: none;
                    }
                    &:active {
                        background-color: #39404F;
                        border-color: #39404F;
                        box-shadow: none;
                        outline: none;
                    }
                    &:focus {
                        background-color: #39404F;
                        border-color: #39404F;
                        box-shadow: none;
                        outline: none;
                    }
                    &:visited {
                        background-color: #454E5F;
                        border-color: #454E5F;
                        box-shadow: none;
                        outline: none;
                    }
                }
                .form-group {
                    label {
                        color: #8FA2B3;
                        margin-bottom: 0;
                    }
                    .form-control-plaintext {
                        color: #fff;
                    }
                    input {
                        // font-size: .750em;
                    }
                }    
            }
            .card-expand {    
                max-height: 0px;
                transition: all 0.45s ease;
                overflow: hidden;
            }
            .card-expand.animate {    
                height: auto;
                max-height: 1500px;
            }
        }
    }
}

.data-card {
    background-color: #272A34;
    color: #eee;
    margin-bottom: 5px;
}
.card-header {
    background-color: transparent;
    color: #8FA2B3;
    padding: 1px 0px;
    .card-header-body {
        padding-top: 0px;
    }
}

/* EXPANDED CARD DETAIL */
.account-header {
    margin: 10px 45px 0px 45px;
    width: 100%;
    .card-inner-account-name {
        color: #00C389;
        font-size: 1.4em;
        font-weight: bold;
    }
    .card-inner-account-address {
        color: #00C389;
        font-size: 1.3em;
    }
    .card-inner-account-location {
        color: #00C389;
        font-size: 1.2em;
    }
}

.card-expand {
    background-color: #1B1D24;
    .card-content-expanded {
        width: 100%;
        min-height: 100%;
        hr {
            border: 1px solid #454E5F;
        }
        .card-inner-section-content {
            font-weight: 100 !important;    
            margin: 0px 0px 15px 0px;
            label {
                color: #8FA2B3;
                border-bottom: 1px solid #8FA2B3;
            }
            input {
                color: #fff;
                padding: 0px;                
            }
        }
    }
}

/* tempCardContent */
.card-inner-section-head { 
    color: #8FA2B3;
    margin: 0;
    margin-top: 15px;
}
