/* HOME - DASH */
@mixin diag-dark-gradient {
    background: #307a6e;
    background: -moz-linear-gradient(-45deg, #307a6e 3%, #485660 22%, #333f48 45%, #000000 87%);
    background: -webkit-linear-gradient(-45deg, #307a6e 3%,#485660 22%,#333f48 45%,#000000 87%); 
    background: linear-gradient(135deg, #307a6e 3%,#485660 22%,#333f48 45%,#000000 87%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#307a6e', endColorstr='#000000',GradientType=1 );
}
.dark-gradient {
    @include diag-dark-gradient;
    height: 100vh;
    width: 100vw;
}
.dash-container {
    h4 {
      border-bottom: 1px solid #6c757d;
      padding-bottom: 5px;
    }
    margin: 35px 0;
    padding: 10px 10px 5px 10px;
    .card-header {
        border-bottom: #454E5F;
    }
    .dash-card {
        background-color: #272A34;
        border: 7px solid #454E5F;
        border-radius: 7px;
        color: #eee;
        margin-bottom: 10px;
        min-height: 160px;
        .dash-card-totals {
            color: #59B4F9;
        }
    }    
}
