/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600');

@mixin delayed-push-left {
    transition: margin-left 0.25s; /* slight delay pushing main over when the side nav opens.*/
}

/* COLORS */
$std-white: #fff;
$orr-green: rgba(0, 195, 137, 1) !important; // #00C389
$card-container: #454E5F;
$card-back: #272A34;
$card-expand-back: #1B1D24;
$dk-main-head: #181C1F !important;
$dk-main-text: #272A34 !important;

@mixin orr-green-text {
    color: $orr-green;
}
/* SIDEBAR NAV ACTIVE INDICATOR */
@mixin orr-green-inset-border-right {
    -webkit-box-shadow: inset -2px 0px 0px 0px rgba(0,195,137,0.75);
    -moz-box-shadow: inset -2px 0px 0px 0px rgba(0,195,137,0.75);
    box-shadow: inset -2px 0px 0px 0px rgba(0,195,137,0.75);
}

/*  SHADING */
@mixin shadow-4 {
    -webkit-box-shadow: 1px 1px 4px 1px rgba(204,204,204,0.93);
    -moz-box-shadow: 1px 1px 4px 1px rgba(204,204,204,0.93);
    box-shadow: 1px 1px 4px 1px rgba(204,204,204,0.93);
}
