@import '../sass/Mixins.scss';

.navbar {
    @include delayed-push-left;
    height: 57px;
    overflow: hidden;
    .nav-item {
        a {
            color: #f2f2f2;        
            display: block;    
            float: left;
            font-weight: 600;
            margin-right: 10px;
            padding: 13px 15px;
            text-align: left;    
            text-decoration: none;
            &:hover {
                background-color:  $dk-main-head;    
                border-bottom: 2px solid $orr-green;
                color: $orr-green;
                margin-bottom: -2px;
            } 
        }
    }
    .user-menu {
        margin-right: 10px;
        padding: 13px 15px;
        .fas {
            &:hover {
                color: $orr-green;
            }
        }
    }
    .navbar-collapse {
        margin-left: 120px;
    }
    ul {
        list-style: none;
        margin: 0;    
    }
    .user-settings {
        margin-right: 50px;
    }
    .user-menu {
        position:fixed;
        right: 1.5%;
        .fa-cog, .fa-question-circle {
            color: $std-white;
            font-size: 1.5em;
            top: 16px;
        }
    }    
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, .99);
}
.active.top-nav-link {
    background-color:  #000;    
    border-bottom: 2px solid $orr-green;
    color: $orr-green;
    margin-bottom: -2px;
}
