@import '../sass/Mixins.scss';

/* LOGIN UI */
body {
    background-color: #393E4E;
}
.input-group-text {
    background-color: #333;
    border: 1px solid #333;
    color: #bbb;    
}
.btn-orr {
    background-color: $orr-green;
    border-color: $orr-green;
    color: #fff;    
}
.login-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 20px;
    .dash-links {
        text-decoration: none;
    } 
    .login-logo {
        img {
            max-height: 150px;
        }
        height: 100%;
        margin: 10px 0 50px 0;        
    }
    .form-group {
        margin-bottom: 5rem;
        .form-control {
            background-color: transparent;
            border: 0px solid black;
            border-bottom: 1px solid #444;
            color: #bbb;     
            height: calc(1.5em + .75rem + 10px);            
            &::placeholder {
                color: #bbb !important;
            }
            input, textarea{
                background-color:#666;
                color: #bbb;
            }
        }
        .btn {
            padding: 1rem;
        }
        .btn-group-lg>.btn, .btn-lg {
            font-size: 1.5rem;
            padding: .5rem 1rem;            
        }
        .login-help-text {            
            color: #444;
            font-size: 1.15rem;
            &:hover {
                outline: none;
                text-decoration: none;
            }
            &:active {
                box-shadow: none;
                outline: none;
                text-decoration: none;
            }
            &:focus {
                box-shadow: none;
                outline: none;
                text-decoration: none;
            }
            &:visited {
                box-shadow: none;
                outline: none;
                text-decoration: none;
            }
        }
    }
}

/* BASIC MEDIA QUERIES */
@media (min-width: 576px) {
    .login-container {
        max-width: 540px;
        padding: 35px;
    }
}
@media (max-width: 575px) {
    .login-container {
        margin-top: 10px;
        padding: 1px 35px;
        width: 90%;
        .login-logo {
            img {
                max-height: 100px;
            }
            height: 100%;
            margin: 50px 0;        
        }
    }
}
