@import './/Mixins.scss';

/* SIDE NAV */
.side-nav {
    background-color: #272A34;
    height: 100%;
    left: 0;
    opacity: 0.9;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transition: 0.2s;
    width: 220px;
    white-space: nowrap; /* side nav squeezing */
    z-index: 1;
    .side-nav-wrap {
        background-color: #181C1F;
        border-bottom: 1px solid #393E4E;
        margin-top: 60px;
        padding-top: 0px;
        padding-bottom: 0px;
        a {
            color: #fff;
            display: block;
            font-size: 1.2em;
            padding: 10px 10px 10px 30px;
            text-decoration: none;
            transition: 0.3s;
            &:hover {
                @include orr-green-inset-border-right;
                background-color:  #000;
                color: #00C389 !important;
            }
        }
        .side-nav-dim {
            color: #888;
        }
    }

    .btn-close {
        font-size: 22px;
        margin-left: 50px;
        position: absolute;
        right: 22px;
        top: 0; 
    }
    .side-title {    
        background-color:  #000;
        color: #fff;
        height: 57px;
        position: fixed;
        width: 100%;
        h6 {
            margin-top: 20px;
            margin-left: 10px;
        }
    }
}

.side-nav a:hover {
    color: #fff;
}

/*  FILTER CONTAINER */
.filter-container {   
    background-color: #050505;
    border-bottom: 1px solid #393E4E;
    margin-top: 58px;    
    min-height: 115px;
    padding: 12px;
    padding-top: 20px;
    position: relative;
    width: 220px;
    h3 {
        font-size: 16px;
        padding-bottom: 10px;        
    }
    p {
        color: #fff;
    }
    .form-group {
        color: #FFF;
    }
    form {
        input {    
            border-radius: 0;
            color: #777;
            height: 30px;
            text-align: center;
        }
    }
}

/* SIDE MENU BUTTONS */
.side-accordion {
    margin-top:1px;
}
button.side-accordion {    
    background-color: #272A34;
    border: none;
    border-bottom: 1px solid #393E4E;    
    color: #8FA2B3;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    outline: none;
    padding: 1em 1.5em;
    text-align: left;
    transition: background-color 0.2s linear;
    width: 100%;
    &:hover {
        @include orr-green-inset-border-right;
    }
}
.side-accordion-content {    
    background-color: #111;        
    overflow: hidden;
    transition: height 0.2s ease-out;
    p {    
        color: #ddd;
        padding: 10px 0px 10px 10px;    
    }
    &:hover {
        @include orr-green-inset-border-right;
    }
}
button {
    div {
        margin: auto 0 auto auto;
        .arrow {
            border: solid #8FA2B3;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 3px;
            position: relative;
            transform: rotate(-135deg);
            transition: transform 0.3s ease-out;
        }
    }
}

.active.side-nav-link {
    @include orr-green-inset-border-right;
    background-color:  #000;    
    color: #00C389 !important;    
}

/* BASIC MEDIA QUERIES */
@media(min-width: 990px) {
    .side-nav-wrap {
        display: none;
    }
}
@media(max-width: 990px) {
    .side-nav {
        .side-nav-wrap {
            margin-top: 59px;
        }
    }
    .filter-container {
        margin-top: 0px; 
    }
    .hide-menu {
        display: none;
    }
}


/* 
    USE TEXT TRANSFORM TO FIX PARENT - ACCOUNT - LOCATION
    https://love2dev.com/blog/css-text-transform/
*/
// text-transform: lowercase; /* lower everything */
// text-transform: capitalize; /* cap everything */
// text-transform: uppercase; /* cap first letter only: */

/* 
    for the really messy cap situation, lowercase everything, then cap the first letter 
*/
// p {
//     text-transform: lowercase
// }
// p::first-letter {
//     text-transform: uppercase;
// }

