@import './Mixins.scss';

h3 {
    color: $std-white;
}
.support-wrapper {        
    height: 100%;    
    padding: 1.5em;
    width: 100%;
}
.support-header {
    color: $std-white;
    margin-bottom: 30px;
}
.support-search {        
    border-radius: 7px 0px 0px 7px;
    font-size: 1.5em;
    height: 50px;
    max-width: 65%;    
}
.support-search-button {
    border-radius: 0px 7px 7px 0px;
    font-size: 1.5em;
    height: 50px;
    width: 125px;
}
.orr-btn-block {    
    margin: .5rem 1.5rem;
    text-align: left;
    &:visited { box-shadow: none; }
    &:active { box-shadow: none; }
    &:focus { box-shadow: none; }
}