@import './sass//Mixins.scss';
@import './sass/BSOverrides.scss';
@import './sass/Pages.scss';
@import './sass/Cards.scss';
@import './sass/SideShow.scss';
@import './sass/Dash.scss';

/*
    DEFAULTS
    12px = .750rem
    14px =  .875rem
    16px = 1rem ( base )
    18px = 1.25rem
    20px = 1.25
    22px = 1.375rem
    24px = 1.5rem
    26px = 1.625rem
    28px = 1.75rem
    30px = 1.875rem
    32px = 2rem
*/

/* TEMP STYLES */
// nav {
//     @include shadow-4;
// }
// .main {
//     // margin-top: 1.875rem;
//     margin-top: 3rem;
// }
// .jumbotron {
//     @include shadow-4;
// }
// .card {
//     @include shadow-4;
// }

/* BASE */
* {    
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;    
    font-weight: 400;
}
body {
    color: $dk-main-text;    
    font-size: .750rem;    
    margin: 0;
    padding: 0;    
}
.bg-dark {
    background-color: $dk-main-head;
}
.btn {outline : none;}
a {outline : none;}
a img {outline : none;}
img {border : 0;}

/* TEXT OVERFLOW ELLIPSiS */
.trunc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
}

/* LOADING SPINNER */
.loading-row {    
    text-align: center;
    .loading-text {
        color: $orr-green;
        margin-top: 10px;
    }
    .loading-spinner {        
        animation-name: spin;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        height: 50px;
        width: 50px;
      }  
      @keyframes spin {
          from {
              transform:rotate(360deg);
          }
          to {
              transform:rotate(0deg);
          }
      }
}

/* SLIDE EFFECT TRANSTIONS */ 
 .main {
    @include delayed-push-left;
    margin-left: 220px;    
    margin-top: 80px;
    max-width: 100%;
    padding: 0px 15px;
}
.side-nav.animate {
    transition: 0.3s;
    width: 0px;    
}
.navbar.animate {
    margin-left: 0;
    transition: 0.3s;
}
.main.animate {
    margin-left: 0;
    transition: 0.3s;
}
